# Docker
# Dockerfile # TODO
.dockerignore

# git
.git
.gitignore

# IDEs
.idea/
.vscode/

# packages
node_modules/
# bower_components/ # FIXME Docker needs an Access Token to be able to pull from another repo

# python
.venv/

# CI/CD
.github/

# app
dist/
