{
    "rules": {
      "quotes": ["error", "double", { "avoidEscape": true }],
      "comma-dangle": ["error", "only-multiline"],
      "space-before-function-paren": ["error", {
          "named": "never",
          "anonymous": "always",
          "asyncArrow": "always"
        }
      ]
    }
  }
