# FIXME kaggle.json is not being prettier-ified
env/kaggle.json

# helm is YAML-ish
helm/

# Ignore artifacts:
tmp/

# commons/scripts
repos/
_scripts/

# webapp
build/
dist/

# python
.venv/

# default # SRC: https://prettier.io/docs/en/ignore.html
**/.git
**/.svn
**/.hg
node_modules/
