argcomplete==3.6.3
black==26.1.0
bleach==6.3.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
idna==3.11
kaggle==1.8.3
kagglesdk==0.1.15
librt==0.7.8
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.3
pipx==1.8.0
platformdirs==4.5.1
protobuf==6.33.4
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.4.0
requests==2.32.5
six==1.17.0
text-unidecode==1.3
tqdm==4.67.1
types-requests==2.32.4.20260107
types-tqdm==4.67.0.20250809
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
webencodings==0.5.1
