argcomplete==3.5.1
awscli==1.36.12
bleach==6.2.0
botocore==1.35.71
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
docutils==0.16
idna==3.10
jmespath==1.0.1
kaggle==1.6.17
packaging==24.2
pipx==1.7.1
platformdirs==4.3.6
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.2
requests==2.32.3
rsa==4.7.2
s3transfer==0.10.4
six==1.16.0
text-unidecode==1.3
tqdm==4.67.1
urllib3==2.2.3
userpath==1.9.2
webencodings==0.5.1
