# Dependency Review
# is only supported on pull_request events.
---
name: Pull Request

# "This run was triggered by the "push" event, which is unsupported.
#  Please ensure you are using the "pull_request" event for this workflow."
on:
  pull_request:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  # Disable HUSKY in CI
  HUSKY: 0

permissions:
  contents: read

jobs:
  validate-pr-title:
    name: Semantic Pull-Request title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dependency-review:
    uses: percebus/github-actions-compliance/.github/workflows/dependency-review.yml@main
    permissions:
      contents: read
      pull-requests: read

  npm_audit:
    # FIXME: SSH not working, and bower install fails!
    # uses: percebus/github-actions-npm/.github/workflows/audit.yml@main
    # with:
    #   ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

    # XXX: vvv Use the re-usable workflow instead ^^^
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_PRIVATE }}

      - uses: percebus/github-actions-node/.github/actions/setup@main
      - uses: percebus/github-actions-npm/.github/actions/install@main
      - uses: percebus/github-actions-npm/.github/actions/audit@main
    # XXX: ^^^

  pip-audit:
    uses: percebus/github-actions-pipx/.github/workflows/run_pip-audit.yml@main
    with:
      audit-requirements-file: requirements.release.txt
